/* GOOGLE FONT HARUS PALING ATAS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* TAILWIND */
@import "tailwindcss";

/* GLOBAL STYLE */
body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fb;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* AOS ANIMATION FIX */
[data-aos] {
  will-change: transform, opacity;
}

/* CUSTOM ANIMATION */
.custom-rotate-img {
  transform: rotate(-5deg);
  transition: all 0.8s ease;
}

.aos-animate.custom-rotate-img {
  transform: rotate(0deg);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -30px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}